<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>关系抽取输入页面</title>
	</head>
  <body>
    <div id="container" style="width:50%;text-align: center;margin-left: auto;margin-right: auto; margin-top: 15%;">
      
      <div id="picture" style="height: 200px; width: 100%;">
        <img src="../logo.png">
      </div>
      
      <div id="null" style="height: 10px; width: 100%;"></div>

      
      <div id="input_text" style="height: 50px; width: 75%;float: left;">
        <input id="data" 
               style="width:100%; 
                      height: 50px; 
                      border-color: black;
                      border-radius:9px;
                      border-width: 4px;
                      font-size: 120%;" 
               type="text" 
               placeholder="请输入想要进行关系抽取的文本或者选择上传文件">
      </div>
       
      <div id="extraction_button_div" style="height:50px;width:22%;float: right;">
        <button id="extraction_button" 
                style="background-color:#8B0000;
                      height: 60px;
                      width: 100%;
                      font-size: 25px;
                      color:#EEEEEE;" 
                      onclick="getInputText()">
            关系抽取
        </button>
      </div>
       
      <div id="null" style="height: 20px; width: 100%;float:right;"></div>

      <div id="update_text_div" style="height:50px;width:100%;float:right;">
    
        <form action="" method=post enctype=multipart/form-data>
          <p><input type="file" name="file" style="font-size: 25px;">
             <input type="submit" value="提交" style="font-size: 25px;">
        </form>

        <!-- <label id="lb"></label><br>
        <input type="button" 
                id="getF"
                value="选取文件" 
                class="style_file_content" 
                onclick="selectFile()"
                accept=".json"
                type="file"
                style="background-color:black;
                height:60px;
                width:40%;
                font-size:25px;
               color:#EEEEEE;"
        <input style="display: none" type="file"  name="file" id="getF" onchange="clickF()">
        <button  onclick="getFilePath()"
                id="test9"
                style="background-color:black;height:60px; width: 40%;font-size: 25px;color: #EEEEEE;">
          提交
        </button> -->

      </div>
      
       
    </div>
    <script type="text/javascript" src="script/jquery-1.6.2.min.js"></script>
		<script type='text/javascript'>
      function getInputText(){
        input_text = this.document.getElementById("data").value
        if(input_text){
          top.location.href="visualization.html"
        }
      }

      function selectFile(){
		    	//触发 文件选择的click事件
		    	$("#file").trigger("click");
 
			//其他code如 alert($("#file").attr("value"))
		  }
		    
		    /* 获取 文件的路径 ，用于测试*/
      function getFilePath(){
        alert($("#file").attr("value"));
      }

    </script>


  </body>
</html>
